<mat-card>
  <mat-card-header>
    <mat-card-title>Task Management</mat-card-title>
    <button mat-button (click)="openCreateDialog()" style="margin-left: auto">
      <mat-icon>add</mat-icon> Add Task
    </button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isLoading">Loading tasks...</div>
    <!-- here you need to create a list of tasks -->
    <!-- each task should have a title and a status  -->
    <!-- user must be able to see only his tasks, delete and edit them  -->
    <!-- add a navigation button to the task detail page  -->
    <ul class="mat-list">
      <li *ngFor="let task of tasks">
        <span>{{ task.title }} </span>
        <span>{{ task.completed }}</span>
        <span>
          <button (click)="navigatetodetails(task.id)">
            navigate to details
          </button>
          <button (click)="deleteTask(task.id)">delete</button></span
        >
      </li>
    </ul>
    <div *ngIf="!isLoading && tasks.length === 0">
      No tasks available. Please add a task.
    </div>
  </mat-card-content>
</mat-card>
