<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label>Email</label>
      <input type="email" formControlName="email" [(ngModel)]="user.email">
      <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</span>
      <span *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format</span>

      <label>Password</label>
      <input type="password" formControlName="password" [(ngModel)]="user.password">
      <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</span>

      <!-- create the input fields for email and password with validation -->

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
        Login
      </button>
      <div class="register-link">
        Don't have an account? <a class="link-button" routerLink="/register">Register here</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>